.reservation {
  margin: 0;
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  border: none;
  max-width: 385px;
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
}
