* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------------------PAGE--------------------------*/
.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  overflow: hidden;
}
/*-------------------------------------HEADER--------------------------*/
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px;
  position: relative;
  left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.6px;
}
.header__font-special {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0 0 0;
  position: relative;
  left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 636px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.header__footer-times {
  list-style: none;
  position: relative;
  left: 80px;
  bottom: 40px;
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover {
  color: #1f69c9;
}

.header__address {
  margin: 0;
  color: #838383;
}

/*-------------------------------------NAV--------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  align-items: center;
  margin: 8px 0 0;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  position: relative;
  right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}
/*-------------------------------------RECIPES--------------------------*/

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  position: relative;
  top: 100px;
  left: 80px;
  bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  position: relative;
  top: 124px;
  left: 80px;
  bottom: 80px;
}

.recipes__videos {
  display: flex;
  margin-top: 204px;
  justify-content: center;
  gap: 40px;
  border: 0;
}

.recipes__video-caption {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__video-caption-subtitle {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 215px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  border-width: 0px;
  width: 480px;
  height: 273px;
}

/*-------------------------------------RESERVATION--------------------------*/

.reservation {
  margin: 0;
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  border: none;
  max-width: 385px;
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
}

.form__fieldset {
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  width: 100%;
  padding: 0 10px;
  border: 2px solid #838383;
  box-sizing: border-box;
  background-color: #ffffff;
}

.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  background-color: #2f80ed;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.4s;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0 12px 0;
  border: 2px solid #838383;
}
.form__checkbox :hover {
  background-color: #2f80ed;
}

.form__label_position {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
